.git
.github
.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ipynb_checkpoints
**/.venv
**/venv
**/outputs
**/cache
**/*.pt
**/*.pth
**/*.npz
scripts
docker
*.md
!tasks/**/environment/data/README.md
